<nav
  mat-tab-nav-bar
  [backgroundColor]="background"
  [tabPanel]="tabPanel"
  [selectedIndex]="selectedTab"
>
  @for (link of tabs; track link) {
  <a mat-tab-link (click)="switchTab(link)" [active]="activeLink == link">
    {{ link.header }}
  </a>
  }
</nav>
<mat-tab-nav-panel #tabPanel>
  @if (locationType==='list' && activeLink){
  <app-month-view
    [monthDetail]="activeLink"
    [triggerChange]="triggerBoolean"
    (mEvent)="handleOutput($event)"
  ></app-month-view>
  } @else if (locationType==='report' && activeLink) {
  <tracker-monthly-transaction-report [monthDetail]="activeLink"></tracker-monthly-transaction-report>
  }
</mat-tab-nav-panel>
