<!-- @if (totalIncome>0 || totalExpense>0){ -->
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Income</span>
        <span matListItemMeta>{{ getFormattedAmount(totalIncome) }}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>Expense</span>
        <span matListItemMeta>{{ getFormattedAmount(totalExpense) }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item color="primary">
        <span matListItemTitle>Net Amount</span>
        <span matListItemMeta [class.positive]="netAmount >= 0" [class.negative]="netAmount < 0">
          {{ getFormattedAmount(netAmount) }}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
<!-- } -->
