<div class="container">
  <mat-card
    onKeyDown="redirectTo('expense-tracker')"
    (click)="redirectTo('expense-tracker')"
  >
    <mat-card-content>
      <mat-icon
        color="primary"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="receipt"
      ></mat-icon>
    </mat-card-content>
  </mat-card>
  <mat-card
    onKeyDown="redirectTo('shopping-list')"
    (click)="redirectTo('shopping-list')"
  >
    <mat-card-content
      ><mat-icon
        color="accent"
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="add_shopping_cart"
      ></mat-icon
    ></mat-card-content>
  </mat-card>

  <a
    href="https://www.flaticon.com/free-stickers/improvement"
    title="improvement stickers"
    >Improvement stickers created by Stickers - Flaticon</a
  >
</div>
