.mat-mdc-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-icon {
  font-size: 8rem;
  height: 8rem;
  width: 8rem;
}
.mdc-card {
  height: 30vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 1rem;
  padding: 1rem;
  max-width: 100vw;
}

a.pin-bottom{
  bottom:0;
  position: fixed;
}
