<div class="container">
  @for (card of navigationCards; track card.path) {
    <mat-card
      class="navigation-card"
      [attr.aria-label]="card.label"
      role="button"
      tabindex="0"
      [matTooltip]="card.description"
      (click)="redirectTo(card.path)"
      (keydown)="handleKeyDown($event, card.path)"
    >
      <mat-card-content>
        <div class="card-content">
          <mat-icon
            [color]="card.color"
            [fontIcon]="card.icon"
            [attr.aria-hidden]="false"
            [attr.aria-label]="card.label + ' icon'"
          ></mat-icon>
          <span class="card-label">{{ card.label }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
<a
  href="https://www.flaticon.com/free-stickers/improvement"
  title="improvement stickers"
  class="attribution-link"
  target="_blank"
  rel="noopener noreferrer"
>
  Improvement stickers created by Stickers - Flaticon
</a>
