.no-data-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 24px;
  min-width: 200px;
}

.no-data-container p {
  color: #666;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
.search-form {
  min-width: 10rem;
  max-width: 33rem;
  width: 100%;
  margin-top: 0.5rem;
}

.search-full-width {
  width: 100%;
}


